@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-1: #011627;
  --color-2: #6c757d;
  --color-3: #eaecef;
  --color-4: #172b4d;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: var(--color-3);
}

header {
  padding: 30px;
  background-color: var(--color-1);
  height: 40px;
}

.logo {
  height: 60px;
}

header svg {
  font-size: 30px;
}

.sidenav {
  width: 220px;
  background: var(--color-1);
  position: absolute;
  height: 84.4vh;
  padding: 0 30px;
  left: -100%; 
  transition: all 1s;
}

.sidenav.active {
  left: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  margin: 10px;
}

ul li a {
  color: var(--color-3);
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

ul li a:hover,
ul li a.active {
  background: var(--color-4);
}

ul li a svg {
  margin-right: 10px;
}

.main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: var(--color-3);
}